# START

## Data Cleaning

### Imports

In [1]:
import numpy as np
import pandas as pd
import xlrd
import os
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV,\
cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier,\
ExtraTreesClassifier, VotingClassifier, StackingRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

### Data

In [3]:
crash_data = pd.read_csv('/Users/javm/Desktop/Flatiron3/Traffic_Crashes_-_Vehicles.csv')

In [4]:
crash_data

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,829999,24ddf9fd8542199d832e1c223cc474e5601b356f1d77a6...,JD124535,01/22/2020 06:25:00 AM,1,DRIVER,NaN,796949.0,NaN,INFINITI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,749947,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,1,DRIVER,NaN,834816.0,NaN,HONDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,749949,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,2,PARKED,NaN,834819.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,749950,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,3,PARKED,NaN,834817.0,NaN,GENERAL MOTORS CORPORATION (GMC),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,871921,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,JD208731,04/13/2020 10:50:00 PM,2,DRIVER,NaN,827212.0,NaN,BUICK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337842,1428903,95bd4beb3fc74537b067a74e5fa3d3751e5d9b85366b70...,JF413122,09/17/2022 04:00:00 PM,2,DRIVER,NaN,1357945.0,NaN,HYUNDAI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337843,1428950,7330fac3b7ff58a70385bbc486f1b29b84bdf980f3b7f5...,JF413209,09/17/2022 06:30:00 AM,1,DRIVER,NaN,1358003.0,NaN,FORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337844,1428951,7330fac3b7ff58a70385bbc486f1b29b84bdf980f3b7f5...,JF413209,09/17/2022 06:30:00 AM,2,PARKED,NaN,1358007.0,NaN,JEEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337845,1429660,9508aefdb2b41844fa8ba879d3089365f910868b5f30cd...,JF402263,09/17/2022 01:30:00 AM,1,DRIVER,NaN,1358680.0,NaN,JEEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337846,1429661,9508aefdb2b41844fa8ba879d3089365f910868b5f30cd...,JF402263,09/17/2022 01:30:00 AM,2,DRIVER,1.0,1358681.0,NaN,CHEVROLET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
crash_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1337847 entries, 0 to 1337846
Data columns (total 72 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CRASH_UNIT_ID             1337847 non-null  int64
 1   CRASH_RECORD_ID           1337847 non-null  object
 2   RD_NO                     1328848 non-null  object
 3   CRASH_DATE                1337847 non-null  object
 4   UNIT_NO                   1337847 non-null  int64
 5   UNIT_TYPE                 1335974 non-null  object
 6   NUM_PASSENGERS            198761 non-null   float64
 7   VEHICLE_ID                1307500 non-null  float64
 8   CMRC_VEH_I                24967 non-null    object
 9   MAKE                      1307495 non-null  object
 10  MODEL                     1307351 non-null  object
 11  LIC_PLATE_STATE           1189340 non-null  object
 12  VEHICLE_YEAR              1094573 non-null  float64
 13  VEHICLE_DEFECT            1307500 non-null  object
 14  VEHICLE_TYPE              1307500 non-null  object
 15  VEHICLE_USE               1307500 non-null  object
 16  TRAVEL_DIRECTION          1307500 non-null  object
 17  MANEUVER                  1307500 non-null  object
 18  TOWED_I                   162403 non-null   object
 19  FIRE_I                    1063 non-null     object
 20  OCCUPANT_CNT              1307500 non-null  float64
 21  EXCEED_SPEED_LIMIT_I      2397 non-null     object
 22  TOWED_BY                  120813 non-null   object
 23  TOWED_TO                  74327 non-null    object
 24  AREA_00_I                 47971 non-null    object
 25  AREA_01_I                 352468 non-null   object
 26  AREA_02_I                 216852 non-null   object
 27  AREA_03_I                 126962 non-null   object
 28  AREA_04_I                 129045 non-null   object
 29  AREA_05_I                 199567 non-null   object
 30  AREA_06_I                 206642 non-null   object
 31  AREA_07_I                 185723 non-null   object
 32  AREA_08_I                 202827 non-null   object
 33  AREA_09_I                 77105 non-null    object
 34  AREA_10_I                 111179 non-null   object
 35  AREA_11_I                 217937 non-null   object
 36  AREA_12_I                 214562 non-null   object
 37  AREA_99_I                 147113 non-null   object
 38  FIRST_CONTACT_POINT       1295982 non-null  object
 39  CMV_ID                    14061 non-null    float64
 40  USDOT_NO                  8057 non-null     object
 41  CCMC_NO                   1758 non-null     object
 42  ILCC_NO                   1231 non-null     object
 43  COMMERCIAL_SRC            9566 non-null     object
 44  GVWR                      7999 non-null     object
 45  CARRIER_NAME              13451 non-null    object
 46  CARRIER_STATE             12665 non-null    object
 47  CARRIER_CITY              12444 non-null    object
 48  HAZMAT_PLACARDS_I         276 non-null      object
 49  HAZMAT_NAME               51 non-null       object
 50  UN_NO                     489 non-null      object
 51  HAZMAT_PRESENT_I          10298 non-null    object
 52  HAZMAT_REPORT_I           9988 non-null     object
 53  HAZMAT_REPORT_NO          1 non-null        object
 54  MCS_REPORT_I              10049 non-null    object
 55  MCS_REPORT_NO             6 non-null        object
 56  HAZMAT_VIO_CAUSE_CRASH_I  10146 non-null    object
 57  MCS_VIO_CAUSE_CRASH_I     9959 non-null     object
 58  IDOT_PERMIT_NO            793 non-null      object
 59  WIDE_LOAD_I               123 non-null      object
 60  TRAILER1_WIDTH            2586 non-null     object
 61  TRAILER2_WIDTH            305 non-null      object
 62  TRAILER1_LENGTH           2124 non-null     float64
 63  TRAILER2_LENGTH           60 non-null       float64
 64  TOTAL_VEHICLE_LENGTH      2577 non-null     float64
 65  AXLE_CNT                  3790 non-null     float64
 66  VEHICLE_CONFIG            11664 non-null    object
 67  CARGO_BODY_TYPE           11164 non-null    object
 68  LOAD_TYPE                 10671 non-null    object
 69  HAZMAT_OUT_OF_SERVICE_I   9689 non-null     object
 70  MCS_OUT_OF_SERVICE_I      9935 non-null     object
 71  HAZMAT_CLASS              939 non-null      object
dtypes: float64(9), int64(2), object(61)
memory usage: 734.9+ MB

In [9]:
people_data = pd.read_csv('/Users/javm/Desktop/Flatiron3/Traffic_Crashes_-_People.csv')
people_data

/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (20,24,25,26,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O749947,DRIVER,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,834816.0,09/28/2019 03:30:00 AM,NaN,CHICAGO,IL,60651,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O871921,DRIVER,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,JD208731,827212.0,04/13/2020 10:50:00 PM,NaN,CHICAGO,IL,60620,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O10018,DRIVER,71162af7bf22799b776547132ebf134b5b438dcf3dac6b...,HY484534,9579.0,11/01/2015 05:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,IMPROPER BACKING,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,O10038,DRIVER,c21c476e2ccc41af550b5d858d22aaac4ffc88745a1700...,HY484750,9598.0,11/01/2015 08:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,O10039,DRIVER,eb390a4c8e114c69488f5fb8a097fe629f5a92fd528cf4...,HY484778,9600.0,11/01/2015 10:15:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440438,P316543,PASSENGER,0cf549b137f00c4c6a934aa900dc88694dbd24e560e250...,JF400046,1354784.0,09/17/2022 01:56:00 AM,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1440439,P316652,PASSENGER,bc722673c24222d6860059d0e07ad3da22107cea44b84d...,JF408037,1355339.0,09/17/2022 12:48:00 AM,5.0,CHICAGO,IL,60651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1440440,P316770,PASSENGER,79d8ebaf30b5a1329ff256ac362025a420fe23cb46a4d1...,JF408754,1355718.0,09/17/2022 12:15:00 PM,2.0,CHICAGO,IL,60639,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1440441,P317147,PASSENGER,c43c6b9ebd9eef456b5628f6d2509b72f394ff798f6298...,JF411682,1357251.0,09/17/2022 05:56:00 PM,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1440442,P317416,PASSENGER,9508aefdb2b41844fa8ba879d3089365f910868b5f30cd...,JF402263,1358681.0,09/17/2022 01:30:00 AM,3.0,JOLIET,IL,60433,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
people_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440443 entries, 0 to 1440442
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1440443 non-null  object
 1   PERSON_TYPE            1440443 non-null  object
 2   CRASH_RECORD_ID        1440443 non-null  object
 3   RD_NO                  1430723 non-null  object
 4   VEHICLE_ID             1412112 non-null  float64
 5   CRASH_DATE             1440443 non-null  object
 6   SEAT_NO                292479 non-null   float64
 7   CITY                   1053018 non-null  object
 8   STATE                  1066676 non-null  object
 9   ZIPCODE                962017 non-null   object
 10  SEX                    1418152 non-null  object
 11  AGE                    1022515 non-null  float64
 12  DRIVERS_LICENSE_STATE  847046 non-null   object
 13  DRIVERS_LICENSE_CLASS  719328 non-null   object
 14  SAFETY_EQUIPMENT       1436344 non-null  object
 15  AIRBAG_DEPLOYED        1413252 non-null  object
 16  EJECTION               1423051 non-null  object
 17  INJURY_CLASSIFICATION  1439810 non-null  object
 18  HOSPITAL               251050 non-null   object
 19  EMS_AGENCY             156627 non-null   object
 20  EMS_RUN_NO             25703 non-null    object
 21  DRIVER_ACTION          1145339 non-null  object
 22  DRIVER_VISION          1144931 non-null  object
 23  PHYSICAL_CONDITION     1146146 non-null  object
 24  PEDPEDAL_ACTION        26805 non-null    object
 25  PEDPEDAL_VISIBILITY    26750 non-null    object
 26  PEDPEDAL_LOCATION      26801 non-null    object
 27  BAC_RESULT             1146353 non-null  object
 28  BAC_RESULT VALUE       1754 non-null     float64
 29  CELL_PHONE_USE         1157 non-null     object
dtypes: float64(4), object(26)
memory usage: 329.7+ MB

In [13]:
chitown_data = crash_data.merge(people_data, how = "outer" )

In [14]:
chitown_data

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,829999,24ddf9fd8542199d832e1c223cc474e5601b356f1d77a6...,JD124535,01/22/2020 06:25:00 AM,1,DRIVER,NaN,796949.0,NaN,INFINITI,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,749947,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,1,DRIVER,NaN,834816.0,NaN,HONDA,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,749949,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,2,PARKED,NaN,834819.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,749950,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,3,PARKED,NaN,834817.0,NaN,GENERAL MOTORS CORPORATION (GMC),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,871921,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,JD208731,04/13/2020 10:50:00 PM,2,DRIVER,NaN,827212.0,NaN,BUICK,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1618739,1428950,7330fac3b7ff58a70385bbc486f1b29b84bdf980f3b7f5...,JF413209,09/17/2022 06:30:00 AM,1,DRIVER,NaN,1358003.0,NaN,FORD,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1618740,1428951,7330fac3b7ff58a70385bbc486f1b29b84bdf980f3b7f5...,JF413209,09/17/2022 06:30:00 AM,2,PARKED,NaN,1358007.0,NaN,JEEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1618741,1429660,9508aefdb2b41844fa8ba879d3089365f910868b5f30cd...,JF402263,09/17/2022 01:30:00 AM,1,DRIVER,NaN,1358680.0,NaN,JEEP,...,NaN,FOLLOWED TOO CLOSELY,NOT OBSCURED,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1618742,1429661,9508aefdb2b41844fa8ba879d3089365f910868b5f30cd...,JF402263,09/17/2022 01:30:00 AM,2,DRIVER,1.0,1358681.0,NaN,CHEVROLET,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1618743,1429661,9508aefdb2b41844fa8ba879d3089365f910868b5f30cd...,JF402263,09/17/2022 01:30:00 AM,2,DRIVER,1.0,1358681.0,NaN,CHEVROLET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
## Remove from Unit_Type
values = ['EQUESTRIAN', 'DISABLED VEHICLE', 'NON-CONTACT VEHICLE']

#### chitown_data

In [17]:
chitown_data = chitown_data[chitown_data.UNIT_TYPE.isin(values) == False]

In [29]:
chitown_data['UNIT_TYPE'].replace('NON-MOTOR VEHICLE', 'BICYCLE', inplace = True)

/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [32]:
chitown_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1618285 entries, 0 to 1618743
Data columns (total 98 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CRASH_UNIT_ID             1618285 non-null  int64
 1   CRASH_RECORD_ID           1618285 non-null  object
 2   RD_NO                     1607421 non-null  object
 3   CRASH_DATE                1618285 non-null  object
 4   UNIT_NO                   1618285 non-null  int64
 5   UNIT_TYPE                 1616389 non-null  object
 6   NUM_PASSENGERS            477047 non-null   float64
 7   VEHICLE_ID                1585528 non-null  float64
 8   CMRC_VEH_I                31153 non-null    object
 9   MAKE                      1585522 non-null  object
 10  MODEL                     1585346 non-null  object
 11  LIC_PLATE_STATE           1460375 non-null  object
 12  VEHICLE_YEAR              1355565 non-null  float64
 13  VEHICLE_DEFECT            1585528 non-null  object
 14  VEHICLE_TYPE              1585528 non-null  object
 15  VEHICLE_USE               1585528 non-null  object
 16  TRAVEL_DIRECTION          1585528 non-null  object
 17  MANEUVER                  1585528 non-null  object
 18  TOWED_I                   220604 non-null   object
 19  FIRE_I                    1554 non-null     object
 20  OCCUPANT_CNT              1585528 non-null  float64
 21  EXCEED_SPEED_LIMIT_I      3405 non-null     object
 22  TOWED_BY                  165742 non-null   object
 23  TOWED_TO                  102240 non-null   object
 24  AREA_00_I                 58398 non-null    object
 25  AREA_01_I                 439281 non-null   object
 26  AREA_02_I                 273903 non-null   object
 27  AREA_03_I                 161450 non-null   object
 28  AREA_04_I                 163680 non-null   object
 29  AREA_05_I                 253185 non-null   object
 30  AREA_06_I                 257371 non-null   object
 31  AREA_07_I                 228285 non-null   object
 32  AREA_08_I                 250201 non-null   object
 33  AREA_09_I                 95394 non-null    object
 34  AREA_10_I                 139212 non-null   object
 35  AREA_11_I                 272601 non-null   object
 36  AREA_12_I                 266697 non-null   object
 37  AREA_99_I                 159326 non-null   object
 38  FIRST_CONTACT_POINT       1571655 non-null  object
 39  CMV_ID                    17081 non-null    float64
 40  USDOT_NO                  9066 non-null     object
 41  CCMC_NO                   1945 non-null     object
 42  ILCC_NO                   1391 non-null     object
 43  COMMERCIAL_SRC            11429 non-null    object
 44  GVWR                      9628 non-null     object
 45  CARRIER_NAME              16312 non-null    object
 46  CARRIER_STATE             15457 non-null    object
 47  CARRIER_CITY              15180 non-null    object
 48  HAZMAT_PLACARDS_I         293 non-null      object
 49  HAZMAT_NAME               51 non-null       object
 50  UN_NO                     527 non-null      object
 51  HAZMAT_PRESENT_I          12387 non-null    object
 52  HAZMAT_REPORT_I           12022 non-null    object
 53  HAZMAT_REPORT_NO          1 non-null        object
 54  MCS_REPORT_I              12090 non-null    object
 55  MCS_REPORT_NO             6 non-null        object
 56  HAZMAT_VIO_CAUSE_CRASH_I  12215 non-null    object
 57  MCS_VIO_CAUSE_CRASH_I     11988 non-null    object
 58  IDOT_PERMIT_NO            896 non-null      object
 59  WIDE_LOAD_I               126 non-null      object
 60  TRAILER1_WIDTH            2796 non-null     object
 61  TRAILER2_WIDTH            348 non-null      object
 62  TRAILER1_LENGTH           2283 non-null     float64
 63  TRAILER2_LENGTH           65 non-null       float64
 64  TOTAL_VEHICLE_LENGTH      3074 non-null     float64
 65  AXLE_CNT                  4406 non-null     float64
 66  VEHICLE_CONFIG            14323 non-null    object
 67  CARGO_BODY_TYPE           13806 non-null    object
 68  LOAD_TYPE                 12854 non-null    object
 69  HAZMAT_OUT_OF_SERVICE_I   11607 non-null    object
 70  MCS_OUT_OF_SERVICE_I      11956 non-null    object
 71  HAZMAT_CLASS              1024 non-null     object
 72  PERSON_ID                 1442837 non-null  object
 73  PERSON_TYPE               1442837 non-null  object
 74  SEAT_NO                   292408 non-null   float64
 75  CITY                      1055312 non-null  object
 76  STATE                     1068928 non-null  object
 77  ZIPCODE                   963669 non-null   object
 78  SEX                       1420538 non-null  object
 79  AGE                       1024721 non-null  float64
 80  DRIVERS_LICENSE_STATE     847314 non-null   object
 81  DRIVERS_LICENSE_CLASS     719599 non-null   object
 82  SAFETY_EQUIPMENT          1438141 non-null  object
 83  AIRBAG_DEPLOYED           1413506 non-null  object
 84  EJECTION                  1423557 non-null  object
 85  INJURY_CLASSIFICATION     1442231 non-null  object
 86  HOSPITAL                  252586 non-null   object
 87  EMS_AGENCY                157953 non-null   object
 88  EMS_RUN_NO                25687 non-null    object
 89  DRIVER_ACTION             1147337 non-null  object
 90  DRIVER_VISION             1146866 non-null  object
 91  PHYSICAL_CONDITION        1148301 non-null  object
 92  PEDPEDAL_ACTION           28931 non-null    object
 93  PEDPEDAL_VISIBILITY       28880 non-null    object
 94  PEDPEDAL_LOCATION         28923 non-null    object
 95  BAC_RESULT                1148548 non-null  object
 96  BAC_RESULT VALUE          1757 non-null     float64
 97  CELL_PHONE_USE            1159 non-null     object
dtypes: float64(12), int64(2), object(84)
memory usage: 1.2+ GB

#### chitown_data1

In [33]:
# Drop columns with more than 95% of values missing
perc = 95.0
min_count =  int(((100-perc)/100)*chitown_data.shape[0] + 1)
chitown_data1 = chitown_data.dropna( axis=1, 
                thresh=min_count)

In [35]:
chitown_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1618285 entries, 0 to 1618743
Data columns (total 55 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   CRASH_UNIT_ID          1618285 non-null  int64
 1   CRASH_RECORD_ID        1618285 non-null  object
 2   RD_NO                  1607421 non-null  object
 3   CRASH_DATE             1618285 non-null  object
 4   UNIT_NO                1618285 non-null  int64
 5   UNIT_TYPE              1616389 non-null  object
 6   NUM_PASSENGERS         477047 non-null   float64
 7   VEHICLE_ID             1585528 non-null  float64
 8   MAKE                   1585522 non-null  object
 9   MODEL                  1585346 non-null  object
 10  LIC_PLATE_STATE        1460375 non-null  object
 11  VEHICLE_YEAR           1355565 non-null  float64
 12  VEHICLE_DEFECT         1585528 non-null  object
 13  VEHICLE_TYPE           1585528 non-null  object
 14  VEHICLE_USE            1585528 non-null  object
 15  TRAVEL_DIRECTION       1585528 non-null  object
 16  MANEUVER               1585528 non-null  object
 17  TOWED_I                220604 non-null   object
 18  OCCUPANT_CNT           1585528 non-null  float64
 19  TOWED_BY               165742 non-null   object
 20  TOWED_TO               102240 non-null   object
 21  AREA_01_I              439281 non-null   object
 22  AREA_02_I              273903 non-null   object
 23  AREA_03_I              161450 non-null   object
 24  AREA_04_I              163680 non-null   object
 25  AREA_05_I              253185 non-null   object
 26  AREA_06_I              257371 non-null   object
 27  AREA_07_I              228285 non-null   object
 28  AREA_08_I              250201 non-null   object
 29  AREA_09_I              95394 non-null    object
 30  AREA_10_I              139212 non-null   object
 31  AREA_11_I              272601 non-null   object
 32  AREA_12_I              266697 non-null   object
 33  AREA_99_I              159326 non-null   object
 34  FIRST_CONTACT_POINT    1571655 non-null  object
 35  PERSON_ID              1442837 non-null  object
 36  PERSON_TYPE            1442837 non-null  object
 37  SEAT_NO                292408 non-null   float64
 38  CITY                   1055312 non-null  object
 39  STATE                  1068928 non-null  object
 40  ZIPCODE                963669 non-null   object
 41  SEX                    1420538 non-null  object
 42  AGE                    1024721 non-null  float64
 43  DRIVERS_LICENSE_STATE  847314 non-null   object
 44  DRIVERS_LICENSE_CLASS  719599 non-null   object
 45  SAFETY_EQUIPMENT       1438141 non-null  object
 46  AIRBAG_DEPLOYED        1413506 non-null  object
 47  EJECTION               1423557 non-null  object
 48  INJURY_CLASSIFICATION  1442231 non-null  object
 49  HOSPITAL               252586 non-null   object
 50  EMS_AGENCY             157953 non-null   object
 51  DRIVER_ACTION          1147337 non-null  object
 52  DRIVER_VISION          1146866 non-null  object
 53  PHYSICAL_CONDITION     1148301 non-null  object
 54  BAC_RESULT             1148548 non-null  object
dtypes: float64(6), int64(2), object(47)
memory usage: 691.4+ MB

In [38]:

chitown_data1 = chitown_data1.drop(['AIRBAG_DEPLOYED','TOWED_I','TOWED_BY', 'TOWED_TO','PERSON_ID', 'EJECTION','HOSPITAL', 'EMS_AGENCY'], axis = 1)

In [39]:
chitown_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1618285 entries, 0 to 1618743
Data columns (total 47 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   CRASH_UNIT_ID          1618285 non-null  int64
 1   CRASH_RECORD_ID        1618285 non-null  object
 2   RD_NO                  1607421 non-null  object
 3   CRASH_DATE             1618285 non-null  object
 4   UNIT_NO                1618285 non-null  int64
 5   UNIT_TYPE              1616389 non-null  object
 6   NUM_PASSENGERS         477047 non-null   float64
 7   VEHICLE_ID             1585528 non-null  float64
 8   MAKE                   1585522 non-null  object
 9   MODEL                  1585346 non-null  object
 10  LIC_PLATE_STATE        1460375 non-null  object
 11  VEHICLE_YEAR           1355565 non-null  float64
 12  VEHICLE_DEFECT         1585528 non-null  object
 13  VEHICLE_TYPE           1585528 non-null  object
 14  VEHICLE_USE            1585528 non-null  object
 15  TRAVEL_DIRECTION       1585528 non-null  object
 16  MANEUVER               1585528 non-null  object
 17  OCCUPANT_CNT           1585528 non-null  float64
 18  AREA_01_I              439281 non-null   object
 19  AREA_02_I              273903 non-null   object
 20  AREA_03_I              161450 non-null   object
 21  AREA_04_I              163680 non-null   object
 22  AREA_05_I              253185 non-null   object
 23  AREA_06_I              257371 non-null   object
 24  AREA_07_I              228285 non-null   object
 25  AREA_08_I              250201 non-null   object
 26  AREA_09_I              95394 non-null    object
 27  AREA_10_I              139212 non-null   object
 28  AREA_11_I              272601 non-null   object
 29  AREA_12_I              266697 non-null   object
 30  AREA_99_I              159326 non-null   object
 31  FIRST_CONTACT_POINT    1571655 non-null  object
 32  PERSON_TYPE            1442837 non-null  object
 33  SEAT_NO                292408 non-null   float64
 34  CITY                   1055312 non-null  object
 35  STATE                  1068928 non-null  object
 36  ZIPCODE                963669 non-null   object
 37  SEX                    1420538 non-null  object
 38  AGE                    1024721 non-null  float64
 39  DRIVERS_LICENSE_STATE  847314 non-null   object
 40  DRIVERS_LICENSE_CLASS  719599 non-null   object
 41  SAFETY_EQUIPMENT       1438141 non-null  object
 42  INJURY_CLASSIFICATION  1442231 non-null  object
 43  DRIVER_ACTION          1147337 non-null  object
 44  DRIVER_VISION          1146866 non-null  object
 45  PHYSICAL_CONDITION     1148301 non-null  object
 46  BAC_RESULT             1148548 non-null  object
dtypes: float64(6), int64(2), object(39)
memory usage: 592.6+ MB

#### crash_df

In [75]:
crash_df = chitown_data1[['UNIT_TYPE', 'NUM_PASSENGERS', 
                          'AGE', 'SEX', 'BAC_RESULT','VEHICLE_TYPE', 'MANEUVER', 
                          'FIRST_CONTACT_POINT','DRIVER_ACTION', 'INJURY_CLASSIFICATION']]

In [112]:
crash_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1618285 entries, 0 to 1618743
Data columns (total 10 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   UNIT_TYPE              1616389 non-null  object
 1   NUM_PASSENGERS         477047 non-null   float64
 2   AGE                    1024721 non-null  float64
 3   SEX                    1420538 non-null  object
 4   BAC_RESULT             1148548 non-null  object
 5   VEHICLE_TYPE           1585528 non-null  object
 6   MANEUVER               1585528 non-null  object
 7   FIRST_CONTACT_POINT    1571655 non-null  object
 8   DRIVER_ACTION          1147337 non-null  object
 9   INJURY_CLASSIFICATION  1442231 non-null  float64
dtypes: float64(3), object(7)
memory usage: 135.8+ MB

In [183]:
crash_df2['UNIT_TYPE'].unique()

array(['DRIVER', 'PARKED', 'PEDESTRIAN', nan, 'BICYCLE', 'DRIVERLESS'],
      dtype=object)

## crash_df3

In [288]:
crash_df3 =crash_df2.dropna(subset=['INJURY_CLASSIFICATION'])

In [289]:
crash_df3['INJURY_CLASSIFICATION'].unique()

array([0., 1.])

In [290]:
rename = {"TEST NOT OFFERED" : 0, "TEST REFUSED" : 0, "TEST TAKEN": 1, "TEST PERFORMED, RESULTS UNKNOWN" : 1}
crash_df3=crash_df3.replace({"BAC_RESULT": rename})

In [291]:
crash_df3 = crash_df3.fillna(crash_df3.max())

In [292]:
crash_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1442231 entries, 0 to 1618743
Data columns (total 10 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   UNIT_TYPE              1442088 non-null  object
 1   NUM_PASSENGERS         1442231 non-null  float64
 2   AGE                    1442231 non-null  float64
 3   SEX                    1420416 non-null  object
 4   BAC_RESULT             1442231 non-null  float64
 5   VEHICLE_TYPE           1411607 non-null  object
 6   MANEUVER               1411607 non-null  object
 7   FIRST_CONTACT_POINT    1399567 non-null  object
 8   DRIVER_ACTION          1147280 non-null  object
 9   INJURY_CLASSIFICATION  1442231 non-null  float64
dtypes: float64(4), object(6)
memory usage: 121.0+ MB

In [276]:
X = crash_df3.drop(columns = ['INJURY_CLASSIFICATION'])
y = crash_df3['INJURY_CLASSIFICATION']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .15, random_state=42)

In [277]:
rename2 = {"NO INDICATION OF INJURY" : 0, "NONINCAPACITATING INJURY" : 0, "REPORTED, NOT EVIDENT": 0, "INCAPACITATING INJURY" : 1, 'FATAL': 1}
crash_df3=crash_df.replace({"INJURY_CLASSIFICATION": rename2})

In [278]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MaxAbsScaler
from sklearn.compose import ColumnTransformer

In [279]:
numeric_pipeline = Pipeline([
    ('numimputer', SimpleImputer(missing_values=np.nan, strategy = 'median')), 
    ('numnorm', StandardScaler())])

#ordinal_pipeline = Pipeline([
    #('ordimputer', SimpleImputer(strategy = 'most_frequent')),
    #('ordenc', OrdinalEncoder(categories = [ed_list])),
    #('ordnorm', StandardScaler())])

nominal_pipeline = Pipeline([
    ('onehotimputer', SimpleImputer(strategy = 'most_frequent')),
    ('onehotenc', OneHotEncoder(sparse = False, drop = 'first')), 
    ('onehotnorm', MaxAbsScaler())])

In [280]:
num_cols = X_test.select_dtypes(['int', 'float']).columns

ct = ColumnTransformer(
    [#("ordinalpipe", ordinal_pipeline, ['education']), 
     #("nominalpipe", nominal_pipeline, ['occupation','sex']),
     ("numpipe", numeric_pipeline, num_cols)])

num_cols

Index(['NUM_PASSENGERS', 'AGE', 'BAC_RESULT'], dtype='object')

In [281]:
final_pipe = Pipeline([('preprocess', ct),
                      ('model',
                       KNeighborsClassifier())])
final_pipe

Pipeline(steps=[('preprocess',
                 ColumnTransformer(transformers=[('numpipe',
                                                  Pipeline(steps=[('numimputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('numnorm',
                                                                   StandardScaler())]),
                                                  Index(['NUM_PASSENGERS', 'AGE', 'BAC_RESULT'], dtype='object'))])),
                ('model', KNeighborsClassifier())])

In [282]:
final_pipe.fit(X_train, y_train)

Pipeline(steps=[('preprocess',
                 ColumnTransformer(transformers=[('numpipe',
                                                  Pipeline(steps=[('numimputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('numnorm',
                                                                   StandardScaler())]),
                                                  Index(['NUM_PASSENGERS', 'AGE', 'BAC_RESULT'], dtype='object'))])),
                ('model', KNeighborsClassifier())])

In [165]:
y_pred = final_pipe.predict(X_test)
print(accuracy_score(y_test, y_pred))

0.990047842466545

In [166]:
print(accuracy_score(y_test, y_pred))

0.990047842466545

In [ ]:
steps = [('imputer', SimpleImputer(strategy="median")), ('std_scaler', StandardScaler()),
        ('knn', KNeighborsClassifier())]

model_pipe = Pipeline(steps)

In [59]:
import plotly.express as px 
px.scatter(data_frame=chitown_data1 ,x = 'SEAT_NO', y = 'AGE', color = 'UNIT_TYPE' )

KeyError: (nan, '', '', '', '')

In [ ]:
px.scatter

In [24]:
X = chitown_data.drop('UNIT_TYPE', axis = 1)
y = chitown_data['UNIT_TYPE']

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25,
                                                   random_state=1)
# Scale the data for modeling
chitown_scaler = StandardScaler()
chitown_scaler.fit(X_train)
X_train_sc = chitown_scaler.transform(X_train)
X_test_sc = chitown_scaler.transform(X_test)

# Train a logistic regresssion model with the train data
chitown_model = LogisticRegression(random_state=42)
chitown_model.fit(X_train_sc, y_train)

ValueError: could not convert string to float: '1275dc2334522d8dea2af0f9223f40e36a171e7b0ff5f3efe4d66aebd49fd10585499acfd776cdd37490ea031040ae14c680014b765b908f34f2743d507b7e0e'